body{
    overflow: hidden;
    min-width: 100vh;
    min-height: 100vh;
}
.img-container {
    min-height: 60vh;
    background: url("../img/contBcg-0.jpeg")  no-repeat fixed center ;
    background-size: cover;
    position: relative;
}
.btn-left{
    position: absolute;
    top: 30%;
    left: 0;
}

.btn-right{
    position: absolute;
    top: 30%;
    right: 0;
}

.myintro{
 margin-top:20px;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 text-decoration-line: underline;
}